<ul>
  <li *ngFor="let video of videos" [class.selected]="video.id === selectedVideo?.id" [id]="video.id">
    <span (click)="selectVideo(video)">{{video.title}} by {{video.author}}
    </span>
    <app-delete-video [videoId]="video.id"></app-delete-video>
  </li>
</ul>

<app-add-video></app-add-video>
<app-refresh-button></app-refresh-button>
