<div class="grid">
  <app-video-list
    [videos]="state.videos | async"
    [selectedVideo]="state.selectedVideo | async"
    (videoSelected)="state.setSelectedVideo($event)"></app-video-list>
  <app-video-embedder [id]="(state.selectedVideo | async)?.id"></app-video-embedder>
  <app-view-details [views]="state.filteredViews | async"></app-view-details>
  <app-view-filter [filterForm]="state.filter"></app-view-filter>
</div>
<pre>{{recentErrors | async | json}}</pre>
