.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr;
}

app-video-list {
  grid-column:  1 / 2;
  grid-row: 1 / 3;
}

app-view-filter {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
