<form [formGroup]="filterForm">
  <div *ngFor="let region of regions">
    <input type="radio" formControlName="region" [value]="region">
    {{region}}
  </div>
  <input type="date" formControlName="fromDate">
  <input type="date" formControlName="toDate">
  <div *ngFor="let group of ageGroups">
    <input type="checkbox" [formControlName]="group.id"> {{group.displayName}}
  </div>
</form>

<pre>{{filterForm.value | json}}</pre>
